<div class="content col-lg-6">
   
    <h1 class="text-center">Page About RubyLupus</h1>
    <p>
        Maybe you think why <i><strong>RubyLupus</strong></i>... </br>
        Honesty, I don't know... My wife helped me to come up with a nickname.</br>
        And she said: Listen, you also like wolves and you ruby developer(beginnning truth, 
        but it's not for long ʘ‿ʘ ).</br>
        From those moment was born RubyLupus.</br>
        <!--Translated from Latin RubyWolf.-->
    </p>
    <p>
        It was the story of the birth of my nickname, now little about me.
    </p>
    <p>
        In past I plaied soccer in amateur level. My position CF, I even got a 
        reward for the best player.But now i don't play soccer, now I gone 
        to the gym, and work with weights 3 times a week, another 3 times 
        a week I jogg. And I have just 1 day without sport a week. 
        Believe me or not... <i><strong>I like it</strong></i>.
    </p>
    <p>
        Another my hobby is coding... </br>
        From begin I decided to learn web develop, and my choise fell on 
        Ruby and framework Ruby on Rails.My dreame is to become an 
        excellent(maybe great) programmer and create a good and usful
        product for people.</br>
        <i><strong>
            I believe with all my heart that I will achieve my goals!
        </strong></i>
    </p>
    <h4 class="text-center">Ooops! </br> I completely forgot to introduce myself.</br> My name is Alexey Slesarev </h4>
    
</div>
<div class="photo col-lg-6">
   <%= image_tag("polaroid-32180.png") %>
</div>

<div class="links col-lg-12 text-center">
    <h2>Some links:</h2>
    
    <%= link_to "GitHub", "https://github.com/Scare01", class: "brand"%>
    <%= link_to "FreeCodeCamp", "https://www.freecodecamp.com/scare01", class: "brand"%>
    
    
</div>
