<div class="content col-lg-6">
    <h1>Page About RubyLupus</h1>
    <p>
        Maybe you think why <i>RubyLupus</i>... </br>
        Honesty, I don't know... My wife helped me to come up with a nickname.</br>
        She saied: you like woolf's and you ruby developer(beginer jet ʘ‿ʘ ) 
        
    </p>
</div>
<div class="photo col-lg-6">
   <%= image_tag("polaroid-32180.png") %>
</div>
