<div class="content col-lg-6 col-sm-12 col-xs-12">

    <h2 class="text-center">Let me represent some of my passions</h2>
  <div class="text-justify">
    <strong>Sport</strong> <br />
    <p>
      I defended the honor of the school playing football, basketball, volleyball and received many awards and repeatedly led the team to victory.<br />At the university, I played basketball a little, after which I go on futsal and play on amateur level several year, I always was the leader of the team.<br /> In recent years, I am inlove by the bodybuilding, so I go to the gym and working with heavy weights.
    </p>
    <strong>Reading/Learning</strong><br />
    <p>
    Another of my passions is reading. Not so long ago I had this passion, but when it's not too late, I have a few topics in mind: computer science, programming languages, personal growth, brain work (consciousness, subconsciousness,why people do so and not otherwise).
    </p>
    <strong>Coding</strong><br />
    <p>
      And, finally, we got to my main passion - programming.
      Since my youth I dreamed of creating something. But something always got in the way. But now nothing can stop me. I will realize all my dreams. And I will achieve this at any cost.
    </p>
  </div>

  <div class="col-lg-6">
    <div>
      <strong>Personality</strong>
    </div>
    <ul class="personal_info">
      <li>responsible</li>
      <li>disciplined</li>
      <li>punctual</li>
      <li>executive</li>
      <li>customer focus</li>
      <li>initiative</li>
    </ul>
  </div>

  <div class="col-lg-6">
    <div>
      <strong>Links</strong>
    </div>
    <ul class="personal_info">
      <li><%= link_to "GitHub", "https://github.com/Scare01"%></li>
    </ul>

  </div>




</div>
<div class="photo col-lg-6 col-sm-12 col-xs-12">
   <%= image_tag("me.png") %>

</div>
