<div class="container text-center">
  <div class="jumbotron" id="welcome">
    <h2>Hello there!</h2>
    <p>
      Accidentally or not, but your wandered to my lair. <br />
      In my lair you can find a pair of nooks. In one you can find more information about me, in second, what I create.
    </p>
  </div>
</div>
