<!--<div id="introduce" class="">-->
<!--  <h1>Welcome to my page</h1>-->
<!--  <p>This page tell you some about my self!</p>-->
<!--</div>-->
<div class="container" id="introduce">
  <div class="jumbotron">
    <h1>Welcome to my page</h1>
    <h2>Hello there!</h2>
    <p>
      Accidentally or not, but you hit my site. Let me introduce myself... 
      My nick-name is RubyLupus for more information about me click link "About".
      If you want see my projects go to link "Portfolio". Maybe some day I add 
      one more link, for your messages to me for example.
    </p>
    <h2>Good day!</h2>
  </div>
</div>