

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}




//  -------------------------------- HEADER ------------------------------------
#header-nav {
  height: 80px;
  background-color: #459c72;
}

.logo {
  margin-top: -30px;
}
.navbar-header {
  margin-top: 15px;
}
.navbar-brand>img {
  height: 80px;
  width: 60px;
  padding-top: 0;
}

.brand {
  margin-top: 10px;
  padding-top: 10px;
  text-decoration: none;
  text-decoration-line: none;
  color: #ffffff;
  font-size: 34px;

}
.brand:hover {
  text-decoration: none;
  color: #e0e0e0;
    padding-top: 10px;
}

#nav-menu>li {
  font-size: 22px;
  margin-top: 10px;
  }
#nav-menu>li>a {
  color: #fff;
}

#nav-menu>li>a:hover {
  color: #e0e0e0;
}



// -------------------------- CONTENT ----------------------------
.container {
  height: 100%;
}
.content {
  width: 50%;
  float: left;
  background-color: rgb(238, 238, 238);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}


.photo {
  width: 50%;
  float: right;
}
.photo>img {
  width: 80%;
}

.links>a {
 font-size: 26px;
 margin-top: -1.5%;
 color: inherit;
 margin-left: 15px;
}

.links>a:hover {
  text-decoration: none;
  color: #858789;
}




//  ------------------------ FOOTER -----------------------------

.footer {
  height: 40px;
  background-color: #459c72;
}

#copyright {
  padding-top: 1%;
  color: #fff;
  text-align: center;
}
