
<footer class="footer navbar-fixed-bottom">
  <div class="container navbar-left">
    <%= link_to image_tag("codecamp.png"), "https://www.freecodecamp.com/scare01", class: "navbar-brand scocial_link", target: :_blank %>
    <%= link_to image_tag("twitter-icon.png"), "https://twitter.com/Scare_Man_", class: "navbar-brand scocial_link", target: :_blank %>
    <%= link_to image_tag("github-logo.png"), "https://github.com/Scare01", class: "navbar-brand scocial_link", target: :_blank%>
  </div>
  <div class="navbar-right">
    <ul class="nav navbar-nav navbar-right" id="copyright">
      <li>&#9400</li>
      <li>RubyLupus</li>
    </ul>
  </div>


</footer>
